:local(.amount-input) :local(.currency) {
    margin-left: 5px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
}

:local(.receiver-input) :local(.info) {
    margin-left: 5px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
}

:local(.message-input) :local(.message-input-value) {
    justify-content: space-between;
}

:local(.message-input-value) :local(.placeholder) {
    color: rgba(255, 255, 255, 0.8);
}

:local(.message-input-value) :local(.count) {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
}

:local(.padding) {
    flex: 1 0 0;
}

:local(.confirm-button) {
    margin: -15px;
}

:local(.amount-input-screen) :local(.input) {
    position: relative;
    margin-top: 20px;
    padding-bottom: 8px;
    width: 100%;
    text-align: left;
    font-size: 16px;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    transition: border-bottom-color 0.1s;
}

:local(.amount-input-screen) :local(.input):focus-within {
    border-bottom-color: rgba(255, 255, 255, 0.8);
}

:local(.amount-input-screen) :local(.real-input) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

:local(.amount-input-screen) :local(.info) {
    margin-top: 12px;
    text-align: left;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
}

:local(.amount-input-screen) :local(.info):local(.error) {
    color: #ffb000;
}

@keyframes shake {
    10%, 90% {
        transform: translateX(-2px);
    }
    30% {
        transform: translateX(2px);
    }
    40%, 60% {
        transform: translateX(-4px);
    }
    50%, 70% {
        transform: translateX(4px);
    }
}

:local(.message-input-screen) :local(.input) {
    margin-top: 20px;
    padding-bottom: 14px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    outline: none;
}

:local(.message-input-screen) :local(.input)::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

:local(.message-input-screen) :local(.count) {
    margin-top: 15px;
    text-align: right;
    font-size: 14px;
    color: #ffffff;
}
