:local(.button) {
    position: relative;
    height: 44px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 1px 4px;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

:local(.button):active {
    background-color: #eeeeee;
}

:local(.button) :local(.ripple) {
    position: absolute;
    background-color: #cccccc;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition-property: width, height, opacity;
    transition-duration: 0.5s;
    user-select: none;
    pointer-events: none;
}

:local(.button):local(.no-radius) {
    border-radius: 0;
}

:local(.button) :local(.label) {
    margin-left: 14px;
    text-align: left;
    font-size: 16px;
    color: rgba(69, 79, 93, 0.5);
    transition: color 0.3s;
}

:local(.button):local(.primary):active {
    background-color: #d4dcfa;
}

:local(.button):local(.primary) :local(.ripple) {
    background-color: #b3c3fa;
}

:local(.button):local(.primary) :local(.label) {
    margin-left: 0;
    text-align: center;
    font-weight: bold;
    color: #4259bf;
}

:local(.button):local(.disabled),
:local(.button):local(.disabled):active {
    background-color: #e0e0e0;
}

:local(.button):local(.disabled) :local(.label) {
    color: #cccccc;
}
