:local(.screen) {
    flex: 1 0 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #4259BF;
}

:local(.screen) :local(.title) {
    flex: 0 0 48px;
    display: flex;
    flex-direction: row;
    line-height: 48px;
    font-size: 17px;
    color: #ffffff;
    box-shadow: rgba(0,0,0,0.6) 0 0 6px;
}

:local(.screen) :local(.title):local(.no-title-shadow) {
    box-shadow: none;
}

:local(.screen) :local(.title) :local(.back-button) {
    margin-right: 15px;
    flex: 0 0 48px;
    font-family: 'open-arrow';
    cursor: pointer;
    user-select: none;
}

:local(.content) {
    margin: 30px;
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
}
