:local(.label) {
    margin-bottom: 10px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

:local(.label):local(.hide) {
    visibility: hidden;
}

:local(.input) {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 15px;
    color: #ffffff;
    user-select: none;
}

:local(.input):local(.click) {
    cursor: pointer;
}

:local(.input) :local(.value) {
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1.4px solid rgba(255, 255, 255, 0.5);
}

:local(.input) :local(.value) :local(.placeholder) {
    color: rgba(255, 255, 255, 0.5);
}

:local(.input-screen-content) {
    margin: 0;
}

:local(.input-screen-content) :local(.content) {
    flex: 1 0 0;
    margin: 30px;
}

:local(.account-input) :local(.slider-container) {
    margin: 0 -4px;
}

:local(.account-input) :local(.slider) .slick-list {
    overflow: initial;
}

:local(.account-input) :local(.slider) .slick-slide {
    opacity: 0.4;
    transition: opacity 0.3s;
}

:local(.account-input) :local(.slider) .slick-slide.slick-active {
    opacity: 1;
}

:local(.account-input) :local(.slider) :local(.account) {
    margin: 0 4px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #5c70f6;
}

:local(.account-input) :local(.slider) :local(.account) :local(.name) {
    margin: 15px;
    margin-bottom: 0;
    font-size: 14px;
}

:local(.account-input) :local(.slider) :local(.account) :local(.detail) {
    margin: 15px;
    margin-top: 0;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
}

:local(.account-input-dots) {
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

:local(.account-input-dots) :local(.dot) {
    margin: 0 2px;
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    border: 1px solid #02c5ab;
    border-radius: 4px;
}

:local(.account-input-dots) :local(.dot):local(.curr) {
    position: absolute;
    top: 0;
    background-color: #02c5ab;
    transition: left 0.3s;
}

:local(.account-input-validation-note) {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
}

:local(.account-input-validation-note) :local(.text) {
    display: inline-block;
    padding: 4px 12px;
    background-color: #374293;
    border-radius: 100px;
}
