:local(.layer) {
    position: absolute;
    top: 0;
    left: 100vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: left 0.5s;
    pointer-events: none;
}

:local(.layer):local(.open) {
    left: 0;
}

:local(.layer) :local(.content) {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    pointer-events: initial;
}
